<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Insert</title>
</head>

<body>

    <div class="bg-blue-500 min-w-screen min-h-screen text-white flex justify-center items-center">
        <div class="flex items-center justify-between gap-[50px] px-[50px] py-[50px]">
            <div class="text-center">
                <p class="pb-[100px] text-3xl font-bold">SILAHKAN MASUKKAN KARTU ANDA</p>
                <p class="pt-[100px] text-3xl font-bold">PLEASE INSERT YOUR CARD</p>
            </div>
            <div>
                <a href="./pin.html">
                    <img src="#" alt="Image">
                </a>
            </div>
        </div>
    </div>

</body>

</html>