<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Language</title>
</head>

<body>

    <div class="bg-blue-500 min-w-screen min-h-screen text-white flex justify-center items-center px-[100px]">
        <div class="text-center">
            <p class="text-3xl font-bold pb-[30px]">SILAHKAN PILIH BAHASA ANDA</p>
            <hr width="100%">
            <p class="text-3xl font-bold py-[30px]">PLEASE SELECT YOUR LANGUAGE</p>
            <div class="text-end">
                <p class="pb-[20px] font-bold">INDONESIA -></p>
                <p class=" pt-[20px] font-bold">ENGLISH -></p>
            </div>
            <p class="text-3xl font-bold py-[30px]">TO OBTAIN CARD PRESS CANCEL</p>
            <hr width="100%">
            <p class="text-3xl font-bold pt-[30px]">TEKAN 'CANCEL' UNTUK MEMBATALKAN</p>
        </div>
    </div>

</body>

</html>